fiftyone==0.20.1
labelbox==3.38.0
mmcv==2.0.0
mmcv.egg==info
mmdeploy==1.0.0
mmdeploy.egg==info
mmdet==3.0.0
mmdet.egg==info
mmengine==0.7.3
mmengine.egg==info
mmrazor==1.0.0
mmrazor.egg==info
mmyolo==0.5.0
mmyolo.egg==info
ndjson==0.3.1
numpy==1.24.3
onnxruntime==1.14.1
onnxruntime_gpu==1.14.0
opencv_python==4.7.0.72
Pillow==9.5.0
requests==2.31.0
torch==1.13.0+cu117
torchinfo==1.7.2
torchvision==0.14.0+cu117
tqdm==4.64.1
