ffmpeg==1.4
fiftyone==0.19.1
mmcv==2.0.0rc4
mmdeploy==0.2.0
mmdeploy.egg==info
mmdet==2.28.1
mmdet.egg==info
mmengine==0.6.0
mmengine.egg==info
mmyolo==0.4.0
mmyolo.egg==info
numpy==1.23.5
opencv_python==4.7.0.72
torch==1.13.1
tqdm==4.64.1
